---
import LandingHeader from "../components/LandingHeader.astro";
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro";
---

<Layout title="Tesla - Potencia Electrica.">
  <LandingHeader />

  <main
    class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-m-0"
  >
    <div class="snap-center">
      <HeroSection />
    </div>

    <div class="snap-center">
      <ChargeSection />
    </div>
  </main>
</Layout>
