<section
  class="relative w-screen h-screen overflow-hidden text-center bg-black charge-section"
  data-header-color="black"
>
  <div class="relative z-30 flex flex-col h-full">
    <header>
      <h2 class="pt-40 text-[40px] font-medium text-black">Model Y</h2>
      <p class="text-sm text-black underline">Agenda tu prueba de manejo</p>
    </header>

    <footer class="flex flex-col justify-end flex-grow pb-20">
      <div class="flex mx-auto gap-x-6">
        <a
          class="border-[3px] border-gray-600 inline-block px-12 py-2 text-sm font-medium
          text-white transition-colors bg-gray-600 rounded
          hover:border-gray-500 hover:bg-gray-500"
          href="#"
        >
          Explorar Inventario
        </a>

        <a
          class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-black transition-colors bg-white rounded hover:bg-black hover:text-white"
          href="#"
        >
          Pedido Personalizado
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 z-10 w-full h-full">
    <img
      class="object-cover object-center w-full h-full"
      src="/model-y.avif"
      alt="Model Y Azul"
    />
  </div>
</section>
