<section
  class="relative w-screen h-screen overflow-hidden text-center bg-black landing-section"
  data-header-color="white"
>
  <div class="relative z-30 flex flex-col h-full">
    <header>
      <h2 class="pt-40 text-[40px] font-medium text-white">
        Disfrute de Tesla
      </h2>
      <p class="text-sm text-white">Programa tu prueba de manejo hoy mismo</p>
    </header>

    <footer class="flex flex-col justify-end flex-grow pb-20">
      <div>
        <a
          class="inline-block px-12 py-2 font-medium border-white bg-white/5 backdrop-blur-sm text-white border-[3px] text-sm rounded hover:bg-white hover:text-black transition-colors duration-300"
          href="#"
        >
          Prueba de Manejo
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 z-10 w-full h-full">
    <video
      class="object-cover object-center w-full h-full"
      autoplay
      muted
      loop
      src="/video.webm"></video>
  </div>
</section>
