---
import Section from "./Section.astro";
---

<Section
  title="Model S"
  subtitle="Programe una consulta virtual"
  color="black"
  id="model-s"
>
  <div slot="footer" class="flex mx-auto gap-x-6">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Pedido personalizado</a
    >
    <a
      class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-black transition-colors bg-white rounded hover:bg-black hover:text-white"
      href="#"
    >
      Saber más</a
    >
  </div>

  <img
    slot="background"
    alt="Model S"
    class="object-cover object-center w-full h-full"
    src="model-s.avif"
    id="bg-image-models"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector("#bg-image-models") as HTMLImageElement; // TypeScript

  if (isEdge()) {
    imageElement.src = "model-s.webp";
  } else {
    imageElement.src = "model-s.avif";
  }
</script>